.idea
api/node_modules
api/.env
client/.env
api/uploads/*

vercel.json

client/yarn-error.log
client/node_modules
client/dist
client/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

.prettierrc

logs
*.log